html {
	font-family: 'Ubuntu', sans-serif;
	background: black;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin:0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/images/img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.85;
	height: 100vh;
	width: 100vw;
}

.label {
	color: white;
}

.form-container {
	background-color: rgba(0, 0, 0, 0.87);
	
	padding:25px 50px;
	border-radius: 11px;
	
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

form>div {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

input[type='text'], input[type='password'] {
	font-size: 28px;
	border-radius: 9px;
	color:white !important;
}

form>div>label {
	font-size: 26px !important;
	margin-bottom: 5px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
}

button {
	background-color: #e50914;
	text-decoration: none;
	color: white;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	font-size: 26px !important;
	width: 100%;
}

button:hover {
	background-color: #FA7D83;
	scale: 1.05;
}

.btn-register {
	border: 1px solid grey;
	background-color: #E6BB09;
}

input {
	background: transparent;
	
	outline: gray;
	padding: 0.3em;
	outline: gray;
	font-weight: bold;
}

label {
	font-size: 12px;
}

input:focus {
	border: 2px solid #e50914;
}