@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	background-color: black;
	margin:0 20px;
}
.header {
	margin-bottom:30px;
	text-align: center;
	color:white;
}

h1 {color:#8b0000;}


.poster{
	width: 150px;
	height: 150px;
	
	margin-bottom:5px;
	
}


.movies {
	display:grid;
	grid-template-columns: repeat(4,1fr);
	justify-content: center;
	gap:20px;
	
	
}

#see-more-link:link {
	text-decoration: none;
	color:whitesmoke;
	
}
#see-more-link:hover {
	color: red;
}

.single-movie-container {
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	

	box-shadow: 3px 2px 12px red;
	color:white;
}






