@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	
	
}


.single-movie-container {
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}

.poster {
	
	width:150px;
	height: 150px;
	
}

h3{margin:0}

.movie-details-container {
	display: flex;
	align-items:center;
	justify-content: center;
	width: 450px;
	gap:20px;
	
	
	border:1px solid #333;
}

.movie-plot p {
	font-size: 12px;
}


/**


COMMENTS

**/

.comment-section {
	width: 450px;
	
	display: flex;
	
}

.comment-box{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.comment_display {
	margin-top: 20px;
	margin-left: 10px;
	display:block;
}



