@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Ubuntu', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.container {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100vw;
}

.movie-title {
	color: #f69f09;
	font-size: 32px;
}

.movie-year {
	background: linear-gradient(90deg, rgba(246, 56, 9, 1) 50%,
		rgba(255, 255, 255, 0.4206057422969187) 100%);
	border-radius: 5px;
	padding: 3px 7px;
	margin-bottom: 5px;
	font-size: 26px;
}

.single-movie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.poster {
	width: 450px;
	height: 450px;
	border-radius: 3px;
}

h3 {
	margin: 0
}

.movie-details-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 5px;
	margin-bottom: 20px;
}

@media screen and (max-width:1250px) {
	.movie-details-container {
		flex-direction: column;
	}
	.movie-plot {
		width: 50%;
		align-self: center;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.movie-plot p {
		font-size: 12px;
	}
	.movie-plot form {
		align-self: center;
	}
}

@media screen and (max-width:769px) {
	.movie-details-container {
		flex-direction: column;
		width: 100%;
	}
	.movie-plot {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	.movie-plot p {
		font-size: 12px;
	}
	.movie-plot form {
		align-self: center;
	}
	.comment-display {
		width: 100%;
	}
}

@media screen and (max-width:480px) {
	.movie-details-container {
		flex-direction: column;
	}
	.movie-plot {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 !important;
		width: 100%;
	}
	.movie-plot p {
		font-size: 16px;
		flex: 0 1;
		padding: 10px;
	}
	.movie-plot form {
		align-self: center;
	}
	.comment-box {
		margin: 0 15px !important;
		width: 100%;
	}
}

.movie-plot {
	align-self: flex-end;
	flex: 0 1 25%;
}

.movie-plot p {
	font-family: inherit;
	font-size: 24px;
	color: white;
	line-height: 1.4;
	margin-bottom: 5px;
}

.go-back-to-movies-btn {
	color: white;
	background: black;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 3px 5px 12px #f63809;
	padding: 2px 4px;
	cursor: pointer;
	font-size: 24px;
	text-decoration: none;
	margin-left:20px;
}
/**


COMMENTS

**/
.comment-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 26px;
}

.comment-box {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 500px;
	height: auto;
}

.comment_display {
	margin-top: 20px;
	margin-left: 10px;
	display: block;
	width: 100%;
	overflow: scroll;
	font-size: 12px;
}

.comment {
	background: #222;
	border-bottom: 10px solid black;
	font-size: 26px;
}

.comment span:first-child {
	font-weight: bold;
}

#commentText {
	background: transparent;
	color: grey;
	width: 100%;
	height: auto;
	font-size: 26px;
	margin-top: 20px;
}

.date {
	font-size: 10px;
}

/*FORMS*/
.btn-edit {
	background-color: none;
	border: 0;
	all: unset;
	font-size: 11px;
	cursor: pointer;
}

.btn-edit:hover {
	color: red;
}

#update-form {
	display: none;
}


.submit-btn {
	background-color: #f63809;
	color: #fff;
	padding: 2px 5px;
	border: 0;
	border-radius: 3px;
	font-size: 24px;
}

.submit-btn:hover {
	background: black;
	color: white;
	cursor: pointer;
}

.add-to-list-btn {
	color: white;
	background: black;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 3px 5px 12px #f63809;
	padding: 2px 4px;
	cursor: pointer;
	font-size: 24px;
}

.add-to-list-btn:hover {
	color: black;
	background-color: white;
}

.comment_display::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #333;
}

.comment_display::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.comment_display::-webkit-scrollbar-thumb {
	background-color: #000000;
}