@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	
	margin: 0 20px;
	height: auto;
	background-color: black;
}

.header {
	margin-bottom: 35px;
	margin-top: 15px;
	text-align: center;
	color: white;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	font-size: 26px;
	margin-bottom: 15px;
	margin-top:15px;
	text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.3px;
  text-align: left;
  font-style: italic;
}

#year-input{
	width:8em;
}



input {
	all: unset;
	background-color: #fafaf9;
	color: black;
	font-size: 14px;
	width: 30%;
	height: 40px;
	border-radius: 11px;
}

input::placeholder {
	font-size: 16px;
	font-style: italic;
}

input:focus {
	border: 1px solid red;
}

input:hover {
	border: 1px solid red;
}

h1 {
	font-size: 64px;
	color: #d61313;
}

.movies {
	padding: 15px 0;
	max-width: 1440px;
	margin:0 auto;
}

.movie-title {
	font-size: 26px; text-align : center;
	color: #f69f09;
	text-align: center;
}

.movie-year {
	background: linear-gradient(90deg, rgba(246, 56, 9, 1) 50%,
		rgba(255, 255, 255, 0.4206057422969187) 100%);
	border-radius: 5px;
	padding: 3px 7px;
	margin-bottom: 5px;
}

.poster {
	width: 275px;
	height: 275px;
	margin-bottom: 5px;
}

.movies {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 20px;
}

@media screen and (max-width:967px) {
	.movies {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width:769px) {
	.movies {
		grid-template-columns: repeat(1, 1fr);
	}
	.search-container>input[type='text'] {
		font-size: 38px !important;
		width: 100%;
	}
	input::placeholder {
		font-size: 26px;
		font-style: italic;
	}
}

@media screen and (max-width:480px) {
	.movie-title {
		font-size: 28px;
	}
	h1 {
		font-size: 35px;
	}
	.search-container>input[type='text'] {
		font-size: 12px !important;
		width: 100%;
	}
	
	.search-container {
		flex-direction: column;
		width: 100%;
	}
	input::placeholder {
		font-size: 16px;
		font-style: italic;
	}
	.header {
		flex-direction: column;
		justify-content: center;
		position: relative;
	}
	
	#account-icon {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(-50%, 50%);
	}
	
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	flex-grow:2;
	
}

#search-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#search-btn {
	background-color: #f03e3e;
	color: #fff;
	border: none;
	padding: 0 12px;
}

#account-icon {
	width: 30px;


	color: white;
}

.account-link:link {
	text-decoration: none;
}

#see-more-link:link {
	font-size: 26px;
	text-decoration: none;
	color: whitesmoke;
}

#see-more-link:hover {
	color: red;
}

.single-movie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 2px 12px red;
	padding: 10px 0;
	border-radius: 11px;
	color: white;
	transition: all 0.9s;
}

.single-movie-container:hover {
	scale: 1.1;
}