@charset "UTF-8";

html {
	font-family: 'Ubuntu', sans-serif;
}

body {
	background-color: black;
	color: white;
	
	margin:0;
	
}


.header {
	background:#1D1D1D;
	border-bottom: 0.8px solid grey;
	margin:0;
	
	display:flex;
	justify-content: space-between;
}

h2{font-size:36px;margin-left:5px;}

.h2-span {
	color:red;
	
}

.header-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
}

.header a:link {
	
	text-decoration: none;
	font-size: 11px;
	color:white;
	margin-right:5px;
}

.link-logout:link {
	font-size: 26px !important;
}
.header a:link:hover{
	color:red;
}

.link-home:link{
	font-size:54px !important;
	
}

.section-container{
	display: flex;
	
	justify-content: space-around;
	overflow-y:scroll; 
	height:100vh;
	font-size: 130%;
}

@media screen and (max-width:480px){
	.section-container {
		flex-direction: column;
	}
	
	.link-logout:link{
		text-align: right;
	}
}

.section-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#333;
}

.section-container::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.section-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
h3 {text-align: center;color:#f69f09;}


.to-watch-container{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	
	
	
	flex:55px;
	border:1px solid grey;
	overflow-y:scroll; 
	
}

.to-watch-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#333;
}

.to-watch-container::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.to-watch-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.to-watch-list {
	display: flex;
	align-items:center;
	justify-content: space-between;
	margin:0 10px;
}

.to-watch-list > ul {
	flex:1;
}

.watched-container {
	flex:45px;
	
	border:0.8px solid grey;
	height:auto;
	
}


.watched-btn{
	all:unset;
	color:red;
	border:1px solid #f69f09;
	cursor:pointer;
	
	
	
}

.to-watch {
	display:block;
	width:100%;
}
.movie-link {
	text-decoration: none;
	color:white;
}
