<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="/css/login.css"/>
</head>
<body>

	<form action="" method="post">
		<div>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username">
		</div>
		
		<div>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"> 
		</div>
		<button type="submit">Login</button>
		<a href="/users/register">Register</a>
	
	</form>
</body>
</html>