<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/movies.css">
</head>
<body>
	<div class="header">
	<h1>Movies/Shows</h1>
	<div class="search-container">
	<label>
	</label>
	<input type="text" placeholder="Search movies and shows ">
	<svg id="search-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
</svg>
	<button hidden id="search-btn" type="button">Search</button>
	</div>
	</div>
	
	<div class="movies">
	<div class="single-movie-container" th:each="movie : ${movies}">
   		<h3 class="movie-title">[[${movie.Title}]]</h3>
   		<span class="movie-year">[[${movie.Year}]]</span>
   		<img class="poster" th:src="@{${movie.poster}}"/>
   		<a id="see-more-link" th:href="@{/movie/{movieId}/user/{userId}(movieId=${movie.id},userId=${user.userId})}">See more!</a>
   		
   </div>
	
	</div>
	
	<div class="container"></div>
	<script type="text/javascript" src="/js/movies.js"></script>
</body>
</html>