<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/movies.css">
</head>
<body>
	<div class="header">
	<h1>Movies/Shows</h1>
	<label>Search movies</label>
	<input type="text">
	<button id="search-btn" type="button">Search</button>
	</div>
	
	<div class="movies">
	<div class="single-movie-container" th:each="movie : ${movies}">
   		<h3>[[${movie.Title}]]</h3>
   		<span>[[${movie.Year}]]</span>
   		<img class="poster" th:src="@{${movie.poster}}"/>
   		<a th:href="@{/movie/{movieId}/user/{userId}(movieId=${movie.id},userId=${user.userId})}">See more!</a>
   		
   </div>
	
	</div>
	
	<div class="container"></div>
	<script type="text/javascript" src="/js/movies.js"></script>
</body>
</html>