<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie/Show Details</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/movie.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
	rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="movie-details-container">
			<div class="single-movie-container">
				<h3 class="movie-title">[[${movie.Title}]]</h3>
				<span class="movie-year">[[${movie.Year}]]</span> <img
					class="poster" th:src="@{${movie.poster}}" />

			</div>

			<div class="movie-plot">
				<p th:if="${movie.director} != 'N/A'">
					<strong>Directors</strong></br>[[${movie.director}]]
				</p>
				<p>
					<strong>Plot</strong></br>[[${movie.plot}]]
				</p>
				<p>
					<strong>Actors</strong></br>[[${movie.actors}]]
				</p>
				<p>
					<strong>IMDB Rating</strong></br>[[${movie.imdbRating}]]
				</p>
				<form th:action="@{/user/{userId}(userId=${user.userId})}"
					method="post">
					<input type="hidden" th:field="${movie.movieId}">
					<button class="add-to-list-btn" type="submit">Add to watch
						list</button>
				</form>
			</div>

		</div>

		<div class="comment-section">
			<div class="comment-box">
				<h3>Leave a comment</h3>
				<form id="submit-form" action="" method="post">

					<textarea rows="5" cols="20" th:field="${comment.commentText}"></textarea>
					</br>
					<button class="submit-btn" type="submit">Submit</button>

				</form>

				<form id="update-form"
					th:action="@{/movie/{movieId}/user/{userId}(movieId=${movie.movieId},userId=${user.userId})}"
					method="post">
					<textarea id="update-text" rows="5" cols="20"
						th:field="${comment.commentText}"></textarea>
					</br>
					<button class="submit-btn" type="submit">Update</button>
				</form>
			</div>
			<div class="comment_display">
				<div th:each="comment : ${comments}"></div>
				<!-- EDIT  -->

				<div th:each="c : ${allComments}">
					<div th:if="${c.movie.movieId == movie.movieId}">
						<div class="comment">
							<span>[[${c.user.username}]]</span></br> <span class="date">[[${comment.date}]]</span>



							<p class="comment-text" th:text="${c.commentText}"></p>

							<button th:if="${user.userId == c.user.userId}" type="button"
								class="btn-edit" th:attr="data-user-id=${user.userId}">Edit</button>

							<input th:if="${user.userId == c.user.userId}" type="hidden"
								th:attr="data-movie-id=${movie.movieId}"> <input
								th:if="${user.userId == c.user.userId}" type="hidden"
								th:attr="data-comment-id=${c.id}">
						</div>

					</div>




				</div>




			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/movie.js"></script>
</body>
</html>