<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie/Show Details</title>
<link rel="stylesheet" href="/css/movie.css">
</head>
<body>
	<div class="movie-details-container">
		<div class="single-movie-container">
   			<h3>[[${movie.Title}]]</h3>
   			<span>[[${movie.Year}]]</span>
   			<img class="poster" th:src="@{${movie.poster}}"/>
   	
   		</div>
   		
   		<div class="movie-plot">
   			<p>[[${movie.plot}]]</p>
   			<p><strong>Actors</strong></br>[[${movie.actors}]]</p>
   		
   		</div>
	
	</div>
	
	<div class="comment-section">
	<div class="comment-box">
		<h3>Leave a comment</h3>
		<form action="" method="post">
		
		<textarea rows="5" cols="20" th:field="${comment.commentText}" ></textarea></br>
		<button type="submit">Submit</button>
		</form>
	</div>
	<div class="comment_display" >
	<div th:each="comment : ${comments}">
		<p th:text="${comment.commentText}"></p>
	</div>
	
	</div>
	</div>
</body>
</html>